body {
    background-color: rgb(128, 128, 128);;
}

#mobile {
    display:none;
}

.white {
    background-color: white;
}

.ui.segment {
    background-color: rgb(217, 217, 217)
}

.ui.segment.grid {
    background-color: white;
}

#mobileTitle {
    padding-top: 10px;
}

@media (max-width: 699px) {
        #mobile {
            display: block;
        }

        .ui.fixed.teal.menu {
            display: none;
        }
}

@media (min-width: 6000px) {
    #background {
        display: grid;
        grid-row-gap: 1vw;
        justify-content: space-evenly;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: 100%;
    }

    #attacksLine {
        height: 50vh;
        width: 100%;
    }
    #attacksTable {
        height: 50vh;
        width: 100%;
    }

    #fatalitiesBar {
        height: 50vh;
        width: 100%;
    }
    #fatalitiesTable {
        height: 50vh;
        width: 100%;
    }

}
#background {
    background-color: rgb(128, 128, 128);
}

#attacks{
    margin-top: 5vh;
    height: 100%;
}

#fatalities{
    margin-top: 5vh;
    height: 100%;
}

#census{
    margin-top: 5vh;
    height: 100%;
}

#map{
    margin-top: 5vh;
    height: 100%;
}

#mapPlot {
    margin-left: 10%;
    height: 80vh;
    width: 80%;
}

#about {
    display: none;
}