body {

}

#attacks {

}

#fatalities {
    
}

/* #flex {
    display: flex;
}

#census {
    
}

#pieM{
    flex: 50%;
}

#pieF{
    flex: 50%;
} */

#map {
    
}

#pieM {
    flex: 50%;
}

#pieF {
    flex: 50%;
}

#mapPlot {
    margin-left: 10%;
    height: 50vh;
    width: 80%;
}

#about {
    display: none;
}