.section {
    position: relative;
    height: 100%;
    width: 100%;
}

.frame {
    position: absolute;
    height: 100%;
    width: 100%;
}

#fatalities {
    display: initial;
}

#census {
    display: initial;
}

#map {
    display: initial;
}